<div class="container">

  <h3>Wha' you want?</h3>
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" novalidate>
        <div class="form-group">
          <label for="nameId">Account Name:</label>
          <input id="nameId" type="text" class="form-control" required name="name" [(ngModel)]="model.name"> <!--[ngModel]="Var" is one way data binding and is pulling data off the component-->
        </div>

        <div class="form-group">
          <label for="Start">Starting Amount</label>
          <input id="Start" type="number" class="form-control" required name="Start" placeholder="100.00? 200.00? 1000.00?....." [(ngModel)]="model.startingAmount"> <!--[(ngModel)]="Var" is two way data binding. it will both read data from the component and send data to the datacomponent.-->
       </div>

        <div class="form-group">
          <label for="Warn">Warning Amount:</label>
          <input id="Warn" type="number" class="form-control" name="Warn" placeholder="20.00? 10.00? 5.00?....." [(ngModel)]="model.warningAmount">
        </div>

        <div class="form-group">
          <label for="OhNo">Oh No Amount:</label>
          <input id="OhNo" type="number" class="form-control" name="OhNo" required placeholder="5.00? 1.00? 0.00?....." [(ngModel)]="model.ohNoAmount">
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form #form="ngForm" novalidate>
        <div class="form-group">
          <label for="operators">Count up or down?</label>
          <button class="btn btn-second" (click)='setUp()' tooltip="Count Up from Starting towards Oh No amount"> Count Up </button>
          <button class="btn btn-second" (click)='setDown()' tooltip="Count Down from Starting towards Oh No (amount 0 for most folks)">
            Count Down </button>
        </div>
        <label for="Reset">Reset Frequency</label>
        <div class="radio">
          <label>
            <input type="radio" name="Reset" value="Daily" [(ngModel)]="model.resetTiming">Daily
            <input type="radio" name="Reset" value="Weekly" checked [(ngModel)]="model.resetTiming">Weekly
            <input type="radio" name="Reset" value="BiWeekly" [(ngModel)]="model.resetTiming">Bi-Weekly
            <input type="radio" name="Reset" value="Monthly" [(ngModel)]="model.resetTiming">Monthly
            <input type="radio" name="Reset" value="Yearly" [(ngModel)]="model.resetTiming">Yearly
            <input type="radio" name="Reset" value="Never" [(ngModel)]="model.resetTiming">Never
          </label>
        </div>

        <div class="form-group">
          <label>Currency Type</label>
          <select class="form-control" name="currency" [(ngModel)]="model.currencyType">
            <option *ngFor="let cur of currency" value={{cur}} >
              {{ cur }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Theme Colors</label>
          <input type="color" class="form-control" name="theme" required [(ngModel)]="model.themeColor">
        </div>

      </form>
    </div>
  </div>
   Model {{ model | json }}
   Angular {{ form.value | json }}
  <button class="btn btn-primary" type="submit" [routerLink]="['/welcome']" >Make that change!</button>
</div>
