<div class="container">
  <h3>Wha' you want?</h3>
  <form #form="ngForm" novalidate>
    <div class="form-group">
      <label for="nameId">Account:</label>
      <input id="nameId" type="text" class="form-control" required name="name" ngModel>
    </div>

    <div class="form-group">
      <label for="Start">Starting Amount</label>
      <input id="Start" type="number" class="form-control" required name="Start" placeholder="100.00? 200.00? 1000.00?.....">
    </div>

    <div class="form-group">
      <label for="Warn">Warning Amount:</label>
      <input id="Warn" type="number" class="form-control" name="Warn" placeholder="20.00? 10.00? 5.00?.....">
    </div>

    <div class="form-group">
      <label for="OhNo">Oh No Amount:</label>
      <input id="OhNo" type="number" class="form-control" name="OhNo" required placeholder="5.00? 1.00? 0.00?.....">
    </div>

    <div class="form-group">
      <label for="operators">Count up or down?</label>
      <button class="btn btn-second" (click)='setUp()' tooltip="Count Up from Starting towards Oh No amount"> Count Up </button>
      <button class="btn btn-second" (click)='setDown()' tooltip="Count Down from Starting towards Oh No (amount 0 for most folks)">
      Count Down </button>
    </div>
    <label for="Reset">Reset Frequency</label>
    <div class="radio">
      <label>
        <input type="radio" name="Reset" value="Daily" ngModel>Daily
        <input type="radio" name="Reset" value="Weekly" checked ngModel>Weekly
        <input type="radio" name="Reset" value="BiWeekly" ngModel>Bi-Weekly
        <input type="radio" name="Reset" value="Monthly" ngModel>Monthly
        <input type="radio" name="Reset" value="Yearly" ngModel>Yearly
        <input type="radio" name="Reset" value="Never" ngModel>Never
      </label>
    </div>

    <div class="form-group">
      <label>Currency Type</label>
      <select class="form-control">
        <option *ngFor="let cur of currency">
          {{ cur }}
          </option>
      </select>
    </div>

    <div class="form-group">
        <label>Theme Colors</label>
        <input type="color" class="form-control" name="Goal" required>
      </div>



    <button class="btn btn-primary" type="submit">Make that change!</button>
  </form>
</div>



