<div>
  <h2>Enter amount spent</h2>

  <form (ngSubmit)="doMath()" [formGroup]="mathForm">
    <!-- <fieldset> -->
      <label for="input">You Spent</label>
  <input id="input" type="number" placeholder='0.00' formControlName="myInput"/>

  <button class="btn btn-primary" type="submit" [disabled]="!mathForm.dirty">go!</button>
<!-- </fieldset> -->
</form>

  <div class="remaining">
    Remaining funds = {{user.currentAmount}}
  </div>
<br>Dirty: {{mathForm.dirty}}
<br>Valid: {{mathForm.valid}}
<br>Value: {{mathForm.value | json}}
</div>

<div>
  <button class="btn btn-primary" [routerLink]="['/settings']">Account Settings</button>
</div>
